<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru"> 
<head> 
  <title><%= @page_title || page_title %></title>
  <meta name="description" content="<%= yield :meta_description%>" /> 
  <meta name="keywords" content="<%= yield :meta_keywords %>" />
  <%= stylesheet_link_tag  'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  
  <script>
  $(document).ready(function()
  {
    <%= yield :document_ready %>
  })
</script>
</head> 
<body> 
<%= render :partial => 'shared/navbar2' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
        <%#= link_to  image_tag("pix.gif", :alt => "giftpoisk.ru", :id => "gift_logo" ), main_app.root_path  %>
    
        <div class="categories-tree">
           <%= render :partial => 'lk/shared/categories_accordion' %>        
        </div>
    
      <div class="well latest-news">                 
          <% if News.cached_latest_news.present? -%>
           <%= render :partial => 'shared/latest_news' %>
          <% end -%>
      </div> <!--end news -->     
    </div>
    <div class="span10">
        <%= render :partial => 'shared/flashes' %>
        <%- if @show_title -%>
           <div id="title">
               <h1><%=  @page_title %></h1>
            </div>
          <%end%>

          <%= yield :layout  %>

    </div>
  </div>
  
<footer class="footer">
	<p>+7 (495) 741-06-95, e-mail: <em>info@giftpoisk.ru</em></p>
	<p>© 2009 - 2012 <a href="http://giftresearch.ru">GiftResearch</a> - IT решения для рекламной отрасли</p>
</footer> <!-- end footer --> 
  
</div> <!--container-->
  

	<% unless local_request? -%>
    <%= render :partial => 'lk/shared/counters' %>	    	  
    <%= render :partial => 'shared/zopim' %>	    
	<% end -%>
</body> 
</html>
